.br-create-edit h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.br-create-edit .ant-input-number {
  width: 100%;
}

.mr-10 {
  margin-right: 10px;
}

div.br-create-edit .ant-row {
  display: flex;
  flex-direction: row;
}

.br-create-edit .br-create-edit__buttons {
  text-align: end;
}

div.br-create-edit .ant-form-item-label {
  width: 50%;
  text-align: start;
}
