.br-home {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.br-home-container ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}

.br-home-container li .ant-card {
  margin-right: 10px;
  margin-top: 10px;
}

.ant-row > div {
  padding: 10px;
}

.br-home-container_row {
  display: flex;
  flex-direction: row;
}

.br-home-container_row > div:first-child {
  margin-right: 50px;
}

.br-home-container_row > div:first-child > span:first-child {
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

div.br-home .ant-form-item-label {
  text-align: start;
}

.br-home__search__row .ant-row {
  display: flex;
  flex-direction: column;
  align-items: self-start;
}

.br-home .ant-col {
  width: 100%;
}
