@import "~antd/dist/antd.css";
@import "~react-toastify/dist/ReactToastify.css";

html,
body,
.root {
  height: 100%;
}

body {
  line-height: 1.5;
}

body,
.app {
  background: white;
}

/* main page */
